.widget-icon
{
    width: 70%;
    margin-top: 10px;
    height: auto;
}

.card-chart .row
{
    text-align: center;
}

.widget-label
{
    color: #9A9A9A;
    font-weight: 300;
    font-size: 0.75rem;
    margin-bottom: -3px;
    margin-top: 6px;
    display: block;
    line-height: 1rem;
}

.widget-value
{
    font-size: 1rem;
}

.widget-value-avg
{
    margin-bottom: 5px;
    display: block;
}